Stop bullying Oxygen with Patreon funding - it makes him insecure.
Don't play for stats, play to have fun.
Grenades are funny, use 'em.
egg.
Despite what Dinkster says, no we are not sponsered by Raid Shadow Legends.
Frankie stop taking drugs while on the job.
Have you seen the leaderboards? Chris painstakingly made them so you guys can yell at each other.
Going out of your way to kill ALL the D-Class is a easy way to force Chaos Insurgency.
SCP-106 belongs in a homeless shelter.
men.
No Skotter, that's illegal.