Pro Tip: Stop bullying Oxygen with Patreon funding - it makes him insecure.
Pro Tip: Don't play for stats, play to have fun.
Pro Tip: Grenades are funny, use 'em.
Pro Tip: egg.
Pro Tip: Despite what Dinkster says, no we are not sponsered by Raid Shadow Legends.
Pro Tip: Frankie stop taking drugs while on the job.
Pro Tip: Have you seen the leaderboards? Chris painstakingly made them so you guys can yell at each other.
Pro Tip: Going out of your way to kill ALL the D-Class is a easy way to force Chaos Insurgency.
Pro Tip: SCP-106 belongs in a homeless shelter.
Pro Tip: men.
Pro Tip: No Skotter, that's illegal.